Repository sa-tre/satre-specification, pull requests merged in 2023-07, with the labels that each got.

#129 Update software tools sub-capability with suggestions inclusive to non virtual desktop TREs
  docs/source/pillars/computing_technology.md
Labels: proposed change, WP1, pillar: computing technology

#131 Add commercially licensed software to software tools capability
  docs/source/pillars/computing_technology.md
Labels: proposed change, WP1, pillar: computing technology

#133 Add section on legal implications
  docs/source/pillars/data_management.md
Labels: proposed change, pillar: data management

#135 Remove roadmap meetings calendar in readme
  README.md
Labels: governance

#141 Reference OpenSAFELY as an alternative interface type
  docs/source/pillars/computing_technology.md
Labels: proposed change, WP1, pillar: computing technology

#146 Use cross reference links
  docs/source/contributing/walkthrough.md
Labels: bug, WP1

#140 Update "Advanced or cluster computing" with big data tools and cloud-native services
  docs/source/pillars/computing_technology.md
Labels: proposed change, WP1, pillar: computing technology

#143 Add PIE supporting capability
  docs/source/index.md
  docs/source/pillars/supporting.md
  docs/source/specification.md
Labels: WP1

#136 Automatic update suggestions for TRE software
  docs/source/pillars/computing_technology.md
Labels: proposed change, WP1, pillar: computing technology

#128 User interface recommendation inclusive of different TRE types (e.g. OpenSAFELY)
  docs/source/pillars/computing_technology.md
Labels: proposed change, WP1, pillar: computing technology

#148 Add PIE capability contributors
  .all-contributorsrc
  README.md
  docs/source/contributing/contributors.md
Labels: WP1

#120 Capability map data management pillar - add missing capabilities
  docs/images/Capability_Map/full.drawio.svg
  docs/source/pillars/data_management.md
Labels: proposed change, WP1, pillar: data management

#147 Merge databases into 'Advanced computing'
  docs/source/pillars/computing_technology.md
Labels: proposed change, pillar: computing technology

#117 Capability map supporting pillar
  docs/images/Capability_Map/full.drawio.svg
  docs/source/pillars/supporting.md
  docs/source/specification.md
Labels: proposed change, WP1, pillar: supporting

#156 Update configuration management capability
  docs/source/pillars/computing_technology.md
Labels: proposed change, WP1

#153 Add sections on security levels and tiering
  docs/images/Capability_Map/full.drawio.svg
  docs/source/pillars/data_management.md
  docs/source/pillars/information_governance.md
Labels: proposed change, WP1, pillar: information governance, pillar: data management

#159 Fix contributing links
  CONTRIBUTING.md
Labels: bug

#132 Add "logging" to Compliance, monitoring and reporting
  docs/source/pillars/information_governance.md
Labels: proposed change, WP1, pillar: information governance

#164 [Change] Update information governance from WP3 doc
  docs/images/Capability_Map/full.drawio.svg
  docs/source/pillars/information_governance.md
Labels: WP1, pillar: information governance

#160 Initial glossary section
  docs/source/glossary.md
  docs/source/index.md
  docs/source/specification.md
Labels: WP1

#163 Contrib: link to MSForm
  docs/source/contributing/index.md
  docs/source/contributing/walkthrough.md
Labels: discussion point
