Repository sa-tre/satre-specification, pull requests merged in 2023-08, with the labels that each got.

#177 Add summary of contributing links
  README.md
  docs/source/contributing/index.md
Labels: WP5

#187 Add evaluation scoring system
  docs/source/evaluation.md
Labels: WP1

#186 Update computing pillar
  docs/images/Capability_Map/full.drawio.svg
  docs/source/glossary.md
  docs/source/pillars/computing_technology.md
  docs/source/specification.md
Labels: proposed change, pillar: computing technology

#191 Remove MFA from item 1.5.1 of the spec
  docs/source/pillars/information_governance.md
Labels: pillar: information governance

#194 Move training platform
  docs/source/pillars/information_governance.md
Labels: proposed change, pillar: information governance

#195 Changes from Turing self-assessment
  docs/source/pillars/information_governance.md
Labels: pillar: information governance

#199 Add output checking statements
  docs/source/pillars/data_management.md
  docs/source/roles.md
Labels: proposed change, pillar: data management
